@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
.zado {
    
    
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}
.znak {
    color: rgb(185, 185, 185);
    font-weight: bold;
    font-family:"Spartan";
    
}
.prob {
    
    border: white;
    display: flex;
    flex-direction: column;
    
    
}
.prob_text {
    font-family: 'Roboto Slab';
    font-size:  100px;
    color: white;
    text-align: center;
    
    
    
    
}
.prob_blocks {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 80px;
}
.p_blocks {
    height: 91px;
    width: 335px;
    display: flex;
    margin-top: 50px;
    flex-direction: column;
    justify-content: space-between;
}
.p_block_num {
    width: 27px;
    height: 18px;
    color: #FF4900;
    font-family: "Roboto Slab";
    display: flex;justify-content: space-between;
    transform: rotate(-90deg);
    
    
    
}
.libe {
    width: 0px;
    height: 12px;
    border: 1px solid white;
}
.p_block_text {
    width: 335px;
    height: 46px;
    
    color: white;
    font-size: 20px;
    
}
@media screen and (max-width:1006px) {
    .p_blocks {
        margin-top: 20px;
    }
}
@media screen and (max-width:548px) {
    .prob_text {
        font-size: 50px;
    }
}
@media screen and (max-width:334px) {
    .p_block_text {
        max-width: 320px;
    }
        
    
}